<section class="container">
  <div class="row">
    <article class="col">
      <% @events.each do |event| %>
        <div class="card my-2">
          <div class="card-body">
            <b class="card-title"><%= event.creator.email %></b>
            <p class="card-text"><%= event.date %></p>
            <%= button_to 'Get in', event_attendances_path(event), method: :post, class: 'btn btn-primary px-4' %>
          </div>
        </div>
      <% end %>
    </article>
  </div>
</section>
