<section class="container">
  <div class="row">
    <article class="col">
      <% @events.each do |event| %>
        <div class="card my-2">
          <div class="card-body">
            <b class="card-title"><%= event.creator.email %></b>
            <p class="card-text"><%= event.date %></p>
            <% if in_attendance?(user_id: current_user.id, event_id: event.id) %>
              <%= button_to 'You in', root_path, class: 'btn btn-secondary px-4', disabled: true %>
            <% else %>
              <%= button_to 'Get in', event_attendances_path(event), method: :post, class: 'btn btn-primary px-4' %>
            <% end %>
          </div>
        </div>
      <% end %>
    </article>
  </div>
</section>
